.one{
    background-color: red;
    width: 100px;
    height: 100px;
    display: inline-block;  
}
   .two{
    background-color: blue;
    width: 100px;
    height: 100px;
    display: inline-block;
    }
h1{
    background-color: green;
    display: inline;
}
p{
    background-color: yellow;
    display: inline;
}