h1{
    color: aqua;
    background-color: blue;
    display: inline;
    
}
p{
    color: blue;
    background-color: rgb(237, 8, 8);
   
}
h2{
    color: blanchedalmond;
    background-color: rgb(0, 255, 30);
   

}
body{
    background-color: rgb(179, 35, 136);
}